
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="ManyOptions">ManyOptions exampel</a>

<p>ViewBag.Msg: @ViewBag.Msg</p>

<form asp-action="ExampelOne">

    <input type="text" name="messageText" value="" />

    <button>Save message</button>

</form>

<hr />

<form asp-action="ExampelTwo">

    <input type="text" name="messageText" value="" />

    <button>Save message</button>

</form>

<hr />
<button id="allBtn">All Cars</button>

<input type="text" id="textInput" />
<button id="inputBtn">look for</button>

<div id="resultDiv">

</div>

<script src="~/js/CarJS.js"></script>