@model List<Car>
@{
    ViewData["Title"] = "Car Index";
}

<h1>Index</h1>

<a asp-action="Create">Create</a>

<table>
    @foreach (var item in Model)
	{
    <tr>
        <td>@item.Brand</td>
        <td>@item.ModelName</td>
        <td>@item.Price</td>
    </tr>
	}
    
</table>