@model Car

<div class="row">
    <!--Brand-->
    <div class="col-4">
        <p>@Model.Brand</p>
    </div>
    <!--Model-->
    <div class="col-4">
        <p>@Model.ModelName</p>
    </div>
    <!--Price-->
    <div class="col-2">
        <p>@Model.Price</p>
    </div>
    <!--Action-->
    <div class="col-2">
        <a asp-action="Details" asp-controller="Cars" asp-route-id="@Model.Id" class="btn btn-info">Details</a>
    </div>
</div>